# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual Environment
venv/
.env
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Pytest cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Local settings
local_settings.py

# Env files
.env.local
.env.production
.env.test

# Staticfiles collected
/static/
