Django==4.2
djangorestframework==3.14.0
numpy==1.23.5         
pandas==1.6.2
scikit-learn==1.2.2
tensorflow==2.12.0
python-dotenv==1.0.0
django-cors-headers==3.14.0
gunicorn==21.2.0
psycopg2-binary==2.9.5